<h1>Add New Task</h1>
<%= form_with model: @task, url: tasks_path do |form| %>
  <div class="form-group">
    <%= form.label :title, "Title" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :details, "Details" %>
    <%= form.text_area :details, class: "form-control" %>
  </div>

  <%= form.submit "Add Task", class: "btn btn-primary" %>
<% end %>
